.welcome {
  position: absolute;
  top: 45%;
  left: 40%;
  margin: auto;
  font-size: 20px;
}

.welcome tr {
  margin-bottom: 10px;
}

.welcome td {
  min-width: 200px;
}

input[type="submit"] {
    width: 50%;
}
