.navbar {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}
.navbar .toolbar {
  display: 'flex';
  justify-content: space-between;
}

.navbar .toolbar .menuRight {
}

.navbar .toolbar .typography {
  display: flex;
}

#logoutMenu, #navMenu {
  margin-top: 3.3rem;
}
