.navbar {
  color: white;
  text-align: center;
  font-size: 2rem;
  background-color: #0a45c1;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.menuRight {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  margin-left: auto;
}
