.tableHeads {
  text-align: left;
}

.aTable {
  margin-top: 2%;
  margin-left: 5%;
  display: flex;
  align-items: center;
}

.aTable tr {
  height: 2em;
}

.aTable td, .aTable th {
  padding-left: 5px;
  min-width: 200px;
}

.aTable tr:nth-child(even) {
  background: #d5d5d5
}
.aTable tr:nth-child(odd) {
  background: #f6f6f6
}

.aTable th {
  background:  #a5bff5;
}